.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    text-decoration: none;

}

.dialogsItems {
    padding: 10px;
    text-decoration: none;
}

.dialogsItems img {
    width: 50px;
    border-radius: 50%;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    color: orange;
    text-decoration: none;
}

s.messages {
    padding: 10px;
}

s.message {

}

.requiredField {
    color: red;
    font-weight: bold;
}